@charset "utf-8";
body {
}
div {
	float: left;
	height: 700px;
	width: 780px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 13px;
	padding-top: 5px;
	background-color: #0FF;
	font-size: 18px;
}
#icerik ol li {
	font-size: 36px;
}
blockquote h1 {
	font-size: 38px;
	font-family: "Arial Black";
}
