@charset "utf-8";
body {
}
#icerik {
	float: left;
	height: 900px;
	width: 780px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 13px;
	padding-top: 5px;
	background-color: #0CF;
	font-family: "Arial Black";
}
#apDiv2 ul li {
	font-family: "Arial Black";
	font-size: 24px;
	color: #FFF;
}
h1 {
	font-family: "Arial Black";
	font-size: 36px;
	color: #FFF;
}
